This is our first class of python

In [2]:
print("hi")

hi

# python

In [13]:
a= "shani "
b="anas"
print(a +b)

shani anas

In [17]:
a= 1.0
b=2.1
print (a+b)

3.1

In [18]:
print ('abc')

abc

In [22]:
print("'a,b'")

'a,b'

In [30]:
print('a 1,a 2')

a 1,a 2

In [1]:
print('syed zeshan,anas baig')

syed zeshan,anas baig

In [3]:
no1 =input("enter number")
no2 =input("enter number")
print (no1 , no2)

enter number2
enter number3
2 3

In [11]:
n1=input("n1")
n2=input("n2")
n3 = int (n1) + int (n2)
print (n3)

n19
n29
18

In [15]:
n1=int(input("n1"))
n2=int(input("n2"))
print(n1*n2)

n18
n22
16

In [17]:
#modulo
whats_left_over=9%2
whats_left_over

1

In [19]:
#convert division in intiger use //
#division by default gives float
a=15
b=4
c=a//b
print (c)

3

In [20]:
a=15
b=4
c=a/b
print (c)

3.75

In [21]:
#power 
2**5

32

In [24]:
total_cost= 1+(3*4)
total_cost

13

In [33]:
solve_it = 2+3*5.0
solve_it

17.0

In [35]:
solve=1/2+3//3+4**2
solve

17.5

In [14]:
#body starts after : and all lines are indent in its body
if 2+2==4:
    print("yes")
    print("hello")
print("w")

yes
hello
w

In [5]:
num = int(input("enter a number:"));
if (num%2==0):
    print(str(num) + " is even");
else:
    print(str(num) + " is odd");

enter a number:8
8 is even

In [16]:
num = int(input("enter a number:"));
if (num%2==0):
    print(num, " is even");
else:
    print(num,  " is odd");

enter a number:9
9  is odd

In [20]:
total_marks=500

english= int(input ("english"));
maths= int (input ("maths"));
urdu= int(input ("urdu"));
physics =int(input ("physics"));
chemistry=int( input ("chemistry"));


percentage = ((english+maths+chemistry+urdu+physics)/500)*100

print (percentage)

if (percentage >=90 and percentage <100):
    print("A1")
elif (percentage >=80 and percentage <90):
    print("A")
elif (percentage >=70 and percentage <80):
    print("B")
elif (percentage >=60 and percentage <70):
    print("C")
elif (percentage >=50 and percentage <60):
    print("D")

english98
maths99
urdu93
physics98
chemistry96
96.8
A1

In [24]:
cnic = input("yes/no")
voter_list = input("yes/no")
if cnic == "yes" and voter_list=="yes":
    print("you can cast the vote")
else:
    print("you are not eligible")

yes/nono
yes/nono
you are not eligible

In [26]:
sunday= input("y/n")
ticket =input("y/n")
wife_Allow = input("y/n")

if sunday=="y" and ticket=="y" and wife_Allow=="y":
    print("you are lucky")
else:
    print("bad luck")

y/nn
y/nn
y/ny
bad luck

#          #LIST/ARRAY

In [29]:
my_fav_dishes=[]
my_fav_cars=["audi" , "mehran" , "nisan" , "alto"]
mix_list=["abc" , 123 , "xyz"]
# in list we can store multi data types
print ( mix_list)

['abc', 123, 'xyz']

In [31]:
city_1 = "khi"
city_2 = "lhr"
city_3 = "isb"
print ("welcom to " + city_2)

welcom to lhr

In [50]:
frnd = ["anus" , "uu" , "honey"];
print( frnd[0]);
frnd.append('bagguu');
print(frnd[3]);
frnd = frnd+['tt'] + ['abw'];
print(frnd[5]);
print(frnd[4]);
frnd.insert(0, 'sheikhu');
print(frnd[0]);
del frnd[6];
len (frnd)
"tt" in frnd

#frnd
#frnd.sort()

anus
bagguu
abw
tt
sheikhu

False

In [51]:
"samu" in frnd

False

In [52]:
frnd

['sheikhu', 'anus', 'uu', 'honey', 'bagguu', 'tt']

In [55]:
frnd.sort()
frnd

['anus', 'bagguu', 'honey', 'sheikhu', 'tt', 'uu']

In [65]:
frnd.sort(reverse=1)
frnd

['uu', 'tt', 'sheikhu', 'honey', 'bagguu', 'anus']

In [67]:
frnd[0]="qq"
frnd

['qq', 'tt', 'sheikhu', 'honey', 'bagguu', 'anus']

In [68]:
frnd.pop(2)

'sheikhu'

In [74]:

frnd

['tt', 'honey', 'bagguu', 'anus']

In [7]:
ek_list = ["sir nasir" , "shahzad"]

In [10]:
ek_list.insert(1, "ali")
ek_list

['sir nasir', 'ali', 'ali', 'ali', 'shahzad']

In [18]:
ek_list.append(["a " , 2 , True , ["c " , "b"]])
ek_list

['sir nasir',
 'ali',
 'ali',
 'ali',
 'shahzad',
 ['a ', 2, True, ['c ', 'b']],
 ['a ', 2, True, ['c ', 'b']]]

In [21]:
ek_list[5][2]

True